.container
  .col-md-12
    footer.footer
      .footer__block-top
        .row
          .col-md-4
            .footer__left.footer-padding Мой сайт-портфолио
          .col-md-5
            .footer__center.footer-padding
              ul.footer__center-list
                li.footer__center-item
                  a.footer__center-link(href="#") Мои работы
                li.footer__center-item
                  a.footer__center-link(href="#") Обо мне
                li.footer__center-item
                  a.footer__center-link(href="#") Блог
                li.footer__center-item
                  a.footer__center-link(href="#") Авторизация
              include ../_components/social
          .col-md-3
            .footer__right.footer-padding
              ul.footer__right-list
                li.footer__right-item skype_knd
                li.footer__right-item Anatoliy_kapp@mail.ru
                li.footer__right-item 8 968 180 11 26
                li.footer__right-item Ростов-на-Дону, ул.Молодежная, д.7
      .footer__block-bottom
        .footer__block-bottom-text &copy; Сайт-портфолио
