meta(charset='UTF-8')
meta(http-equiv='X-UA-Compatible', content="IE=edge,chrome=1")
meta(name="viewport" content="initial-scale=1.0, user-scalable=no, maximum-scale=1")
link(href="../../../assets/lib/bootstrap/css/bootstrap.css" rel="stylesheet")
link(href="../../../css/pages/about/about.css" rel="stylesheet")
link(href="../../../assets/fonts/font.css" rel="stylesheet")
link(href="../../../assets/lib/font_awesome/css/fontello.css" rel="stylesheet")
