//header
//  .container
//    .row
//      .col-md-12
//        .header#up
//          .col-md-2.col-md-offset-5
//            .header__profile
//              img.header__photo.img-responsive(alt="photo", src='../../../assets/img/header/header_photo.jpg' )
//          .col-md-4.col-md-offset-4
//            .header__desc
//              .header__name Владимир Астахов
//              .header__info Личный сайт веб-разработчика
//            img.header__stars.img-responsive(alt="stars", src='../../../assets/img/header/header_stars.png' )
//          img.header__hamburger.img-responsive(alt="hamburger", src='../../../assets/img/header/header_hamburger.svg')
//
//          include ./social
//
//
header
  .container
    .row
      .col-md-12
        .header#up
          .col-md-2.col-md-offset-5
            .header__profile
              img.header__photo.img-responsive(alt="photo", src='../../../assets/img/header/header_photo.jpg' )
          .col-md-4.col-md-offset-4
            block header__desc
            img.header__stars.img-responsive(alt="stars", src='../../../assets/img/header/header_stars.png' )
          img.header__hamburger.img-responsive(alt="hamburger", src='../../../assets/img/header/header_hamburger.svg')

          include ./social



