header
  .container
    .row
      .col-md-12
        .header#up
          .container
            .col-md-12
              .fullscreen
                .col-md-4.col-md-offset-4
                  ul.fullscreen-list
                    li.fullscreen-item
                      a(href="../works/works.html").fullscreen-link
                        h1 Мои работы
                      .fullscreen-line
                    li.fullscreen-item
                      a(href="../blog/blog.html").fullscreen-link
                        h1 Блог
                      .fullscreen-line
                    li.fullscreen-item
                      a(href="../about/about.html").fullscreen-link
                        h1 Обо мне
                      .fullscreen-line
                    li.fullscreen-item
                      a(href="../welcome/welcome.html").fullscreen-link
                        h1 Авторизация
                      .fullscreen-line
                img.fullscreen-cross.img-responsive(src='../../../assets/img/fullscreen/fullscreen_cross.png' alt='Закрыть')

          .col-md-2.col-md-offset-5
            .header__profile
              img.header__photo.img-responsive(alt="photo", src='../../../assets/img/header/header_photo.jpg' )
          .col-md-4.col-md-offset-4
            block header__desc
            img.header__stars.img-responsive(alt="stars", src='../../../assets/img/header/header_stars.png' )
          img.header__hamburger.img-responsive(alt="hamburger", src='../../../assets/img/header/header_hamburger.svg')

          include ./social


