
svg.skills-circle(width='110', height='110')
  circle.circle(transform="rotate(-90)" cx='-55', cy='55', r='45')
  circle.circle(transform="rotate(-90)" cx='-55', cy='55', r='45', style = "stroke-dasharray: 200px 283px")
