@charset "UTF-8";
body {
  font-family: 'roboto', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 14px; }

h1, h2, h3, h4 {
  font-family: 'sansus_webissimo';
  margin: 0; }

ul, li {
  padding: 0;
  margin: 0; }

/* --------------- выравнивание столбцов по высоте ----------------*/
.equal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 767px) {
    .equal {
      /* стили для xs-устройств */
      display: block; } }
  @media (min-width: 768px) {
    .equal {
      /* стили для sm-устройств */
      display: block; } }
  @media (min-width: 992px) {
    .equal {
      /* стили для md-устройств */
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.about .flex-item-left {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  background: #f2f0e8; }

.about .flex-item-right {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  background: #f4f5f0; }

.blog .flex-item-left {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  background: #FBF8F1; }

.blog .flex-item-right {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  background: #FBF8F1; }

/* --------------- header ----------------*/
.header {
  position: relative;
  background: url("../../../assets/img/header/header_bg.jpg") no-repeat;
  min-height: 650px;
  width: 100%;
  height: 100vh;
  background-size: cover;
  margin-bottom: -1px; }

.header__profile {
  position: absolute;
  width: 400px;
  top: 35%;
  left: 50%; }

.header__photo {
  display: block;
  position: relative;
  border-radius: 50%;
  width: 142px;
  margin-left: -71px;
  margin-top: 160px;
  z-index: 1; }

.header__desc {
  color: #ffffff;
  text-align: center;
  margin-top: 310px; }

@media (max-width: 767px) {
  .header__name {
    /* стили для xs-устройств */
    font-size: 21px; } }

@media (min-width: 768px) {
  .header__name {
    /* стили для sm-устройств */
    font-size: 35px; } }

@media (min-width: 992px) {
  .header__name {
    /* стили для md-устройств */
    font-size: 35px; } }

@media (max-width: 767px) {
  .header__info {
    /* стили для xs-устройств */
    font-size: 14px; } }

@media (min-width: 768px) {
  .header__info {
    /* стили для sm-устройств */
    font-size: 16px; } }

@media (min-width: 992px) {
  .header__info {
    /* стили для md-устройств */
    font-size: 16px; } }

.header__stars {
  position: absolute;
  left: 50%; }
  @media (max-width: 767px) {
    .header__stars {
      /* стили для xs-устройств */
      width: 279px;
      height: 164px;
      margin-left: -139.5px;
      margin-top: -230px; } }
  @media (min-width: 768px) {
    .header__stars {
      /* стили для sm-устройств */
      width: 279px;
      height: 164px;
      margin-left: -139.5px;
      margin-top: -230px; } }
  @media (min-width: 992px) {
    .header__stars {
      /* стили для md-устройств */
      width: 463px;
      height: 273px;
      margin-left: -231.5px;
      margin-top: -258px; } }

.header__hamburger {
  position: absolute;
  top: 0;
  right: 0; }
  @media (max-width: 767px) {
    .header__hamburger {
      /* стили для xs-устройств */
      width: 29px;
      height: 29px;
      background-size: 29px 29px;
      margin-right: 11px;
      margin-top: 9px; } }
  @media (min-width: 768px) {
    .header__hamburger {
      /* стили для sm-устройств */
      width: 40px;
      height: 40px;
      background-size: 40px 40px;
      margin-right: 28px;
      margin-top: 24px; } }
  @media (min-width: 992px) {
    .header__hamburger {
      /* стили для md-устройств */
      width: 40px;
      height: 40px;
      background-size: 40px 40px;
      margin-right: 28px;
      margin-top: 24px; } }

.header .social {
  position: absolute;
  top: 0;
  left: 0; }
  @media (max-width: 767px) {
    .header .social {
      /* стили для xs-устройств */
      font-size: 20px;
      margin: 10px 0 0 10px; } }
  @media (min-width: 768px) {
    .header .social {
      /* стили для sm-устройств */
      font-size: 25px;
      margin: 30px 0 0 30px; } }
  @media (min-width: 992px) {
    .header .social {
      /* стили для md-устройств */
      font-size: 25px;
      margin: 30px 0 0 30px; } }

.social__list {
  list-style: none;
  padding: 0; }

.social__item {
  display: inline-block;
  margin-left: 10px;
  margin-right: 0; }
  .social__item:first-child {
    margin-left: 0px; }

.header .social__link {
  color: #ffffff;
  text-decoration: none; }
  .header .social__link:hover {
    text-decoration: none;
    color: #004cd1; }

.header__arrow {
  position: absolute;
  background: url("../../../assets/img/header/header_arrow_down.svg") no-repeat;
  width: 30px;
  height: 16px;
  top: 75%;
  left: 50%;
  margin-left: -18px;
  margin-top: -8px; }

.about .section__triangle-bg_left {
  background: url("../../../assets/img/section_triangle/tr_about_bg_left.svg") no-repeat;
  width: 50%;
  height: 110px;
  margin-top: -109px;
  float: left; }
  @media (max-width: 767px) {
    .about .section__triangle-bg_left {
      /* стили для xs-устройств */
      height: 55px;
      margin-top: -54px; } }
  @media (min-width: 768px) {
    .about .section__triangle-bg_left {
      /* стили для sm-устройств */
      height: 110px;
      margin-top: -109px; } }
  @media (min-width: 992px) {
    .about .section__triangle-bg_left {
      /* стили для md-устройств */
      height: 110px;
      margin-top: -109px; } }

.about .section__triangle-bg_right {
  width: 50%;
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
  float: right; }
  @media (max-width: 767px) {
    .about .section__triangle-bg_right {
      /* стили для xs-устройств */
      background: url("../../../assets/img/section_triangle/tr_about_bg_left.svg") no-repeat;
      height: 55px;
      margin-top: -54px; } }
  @media (min-width: 768px) {
    .about .section__triangle-bg_right {
      /* стили для sm-устройств */
      background: url("../../../assets/img/section_triangle/tr_about_bg_left.svg") no-repeat;
      height: 110px;
      margin-top: -109px; } }
  @media (min-width: 992px) {
    .about .section__triangle-bg_right {
      /* стили для md-устройств */
      background: url("../../../assets/img/section_triangle/tr_about_bg_right.svg") no-repeat;
      height: 110px;
      margin-top: -109px; } }

.blog .section__triangle-bg_left {
  background: url("../../../assets/img/section_triangle/tr_blog_bg.svg") no-repeat;
  width: 50%;
  height: 110px;
  margin-top: -109px;
  float: left; }
  @media (max-width: 767px) {
    .blog .section__triangle-bg_left {
      /* стили для xs-устройств */
      height: 60px;
      margin-top: -59px; } }
  @media (min-width: 768px) {
    .blog .section__triangle-bg_left {
      /* стили для sm-устройств */
      height: 110px;
      margin-top: -109px; } }
  @media (min-width: 992px) {
    .blog .section__triangle-bg_left {
      /* стили для md-устройств */
      height: 110px;
      margin-top: -109px; } }

.blog .section__triangle-bg_right {
  background: url("../../../assets/img/section_triangle/tr_blog_bg.svg") no-repeat;
  width: 50%;
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
  float: right; }
  @media (max-width: 767px) {
    .blog .section__triangle-bg_right {
      /* стили для xs-устройств */
      height: 60px;
      margin-top: -59px; } }
  @media (min-width: 768px) {
    .blog .section__triangle-bg_right {
      /* стили для sm-устройств */
      height: 110px;
      margin-top: -109px; } }
  @media (min-width: 992px) {
    .blog .section__triangle-bg_right {
      /* стили для md-устройств */
      height: 110px;
      margin-top: -109px; } }

.works .section__triangle-bg_left {
  background: url("../../../assets/img/section_triangle/tr_works_bg.svg") no-repeat;
  width: 50%;
  float: left; }
  @media (max-width: 767px) {
    .works .section__triangle-bg_left {
      /* стили для xs-устройств */
      height: 120px;
      margin-top: -120px; } }
  @media (min-width: 768px) {
    .works .section__triangle-bg_left {
      /* стили для sm-устройств */
      height: 290px;
      margin-top: -109px; } }
  @media (min-width: 992px) {
    .works .section__triangle-bg_left {
      /* стили для md-устройств */
      height: 290px;
      margin-top: -109px; } }

.works .section__triangle-bg_right {
  background: url("../../../assets/img/section_triangle/tr_works_bg.svg") no-repeat;
  width: 50%;
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
  float: right; }
  @media (max-width: 767px) {
    .works .section__triangle-bg_right {
      /* стили для xs-устройств */
      height: 120px;
      margin-top: -120px; } }
  @media (min-width: 768px) {
    .works .section__triangle-bg_right {
      /* стили для sm-устройств */
      height: 290px;
      margin-top: -109px; } }
  @media (min-width: 992px) {
    .works .section__triangle-bg_right {
      /* стили для md-устройств */
      height: 290px;
      margin-top: -109px; } }

/* --------------- about ----------------*/
.main {
  margin-bottom: -185px; }

.about__left {
  background: #f2f0e8;
  padding-bottom: 40px; }

.about__left-header {
  position: relative;
  font-size: 63px;
  text-transform: uppercase;
  text-align: center; }
  @media (max-width: 767px) {
    .about__left-header {
      /* стили для xs-устройств */
      font-size: 35px; } }
  @media (min-width: 768px) {
    .about__left-header {
      /* стили для sm-устройств */
      font-size: 63px; } }
  @media (min-width: 992px) {
    .about__left-header {
      /* стили для md-устройств */
      font-size: 63px; } }

.about__left-photo {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 442px;
  height: 390px; }
  @media (max-width: 767px) {
    .about__left-photo {
      /* стили для xs-устройств */
      width: auto;
      height: auto; } }
  @media (min-width: 768px) {
    .about__left-photo {
      /* стили для sm-устройств */
      width: 442px;
      height: 390px; } }
  @media (min-width: 992px) {
    .about__left-photo {
      /* стили для md-устройств */
      width: 442px;
      height: 390px; } }

.about__left-img {
  position: absolute;
  width: 185px;
  height: 125px;
  top: 50%;
  left: 50%;
  margin-left: -92.5px;
  margin-top: -62.5px; }

.about__left-desc {
  text-align: center;
  margin-top: 40px; }

.about__font-header {
  display: block;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; }
  @media (max-width: 767px) {
    .about__font-header {
      /* стили для xs-устройств */
      font-size: 21px; } }
  @media (min-width: 768px) {
    .about__font-header {
      /* стили для sm-устройств */
      width: 320px; } }
  @media (min-width: 992px) {
    .about__font-header {
      /* стили для md-устройств */
      width: 340px; } }

@media (max-width: 767px) {
  .about__right .about__font-header {
    /* стили для xs-устройств */ } }

@media (min-width: 768px) {
  .about__right .about__font-header {
    /* стили для sm-устройств */
    padding-top: 50px; } }

@media (min-width: 992px) {
  .about__right .about__font-header {
    /* стили для md-устройств */
    padding-top: 0; } }

.title-line {
  display: inline-block;
  background: url("../../../assets/img/section_about/about_line.png"); }
  @media (max-width: 767px) {
    .title-line {
      /* стили для xs-устройств */
      width: 60px;
      height: 3px; } }
  @media (min-width: 768px) {
    .title-line {
      /* стили для sm-устройств */
      width: 89px;
      height: 3px; } }
  @media (min-width: 992px) {
    .title-line {
      /* стили для md-устройств */
      width: 89px;
      height: 3px; } }

.about__left-desc-text {
  text-align: left;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  line-height: 2; }
  @media (max-width: 767px) {
    .about__left-desc-text {
      /* стили для xs-устройств */
      padding-left: 10px;
      padding-right: 10px; } }
  @media (min-width: 768px) {
    .about__left-desc-text {
      /* стили для sm-устройств */
      width: 470px;
      font-size: 14px; } }
  @media (min-width: 992px) {
    .about__left-desc-text {
      /* стили для md-устройств */
      width: 433px;
      font-size: 16px; } }

.about__right {
  background: #f4f5f0; }
  @media (max-width: 767px) {
    .about__right {
      /* стили для xs-устройств */
      padding-top: 30px;
      padding-bottom: 0; } }
  @media (min-width: 768px) {
    .about__right {
      /* стили для sm-устройств */
      padding-bottom: 40px; } }
  @media (min-width: 992px) {
    .about__right {
      /* стили для md-устройств */
      padding-left: 40px;
      padding-bottom: 40px; } }

.about__right-header {
  text-align: center; }

.about__right-desc-text {
  line-height: 2; }
  @media (max-width: 767px) {
    .about__right-desc-text {
      /* стили для xs-устройств */
      margin-top: 20px;
      padding-left: 10px;
      padding-right: 10px; } }
  @media (min-width: 768px) {
    .about__right-desc-text {
      /* стили для sm-устройств */
      width: 470px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 40px; } }
  @media (min-width: 992px) {
    .about__right-desc-text {
      /* стили для md-устройств */
      width: auto;
      font-size: 16px;
      margin-top: 40px; } }

@media (max-width: 767px) {
  .about__right-skills {
    /* стили для xs-устройств */
    text-align: center; } }

@media (min-width: 768px) {
  .about__right-skills {
    /* стили для sm-устройств */
    text-align: center; } }

@media (min-width: 992px) {
  .about__right-skills {
    /* стили для md-устройств */
    text-align: left; } }

.circle {
  fill: transparent;
  stroke: #dfdcd5;
  stroke-width: 20;
  stroke-dasharray: 314px 314px;
  -webkit-transition: stroke-dasharray .8s;
  -o-transition: stroke-dasharray .8s;
  transition: stroke-dasharray .8s; }
  .circle:nth-child(2n) {
    fill: transparent;
    stroke: blue;
    stroke-width: 20; }

.skills__header {
  display: inline-block;
  font-weight: bold;
  color: #474b57; }
  @media (max-width: 767px) {
    .skills__header {
      /* стили для xs-устройств */
      font-size: 20px; } }
  @media (min-width: 768px) {
    .skills__header {
      /* стили для sm-устройств */
      font-size: 20px; } }
  @media (min-width: 992px) {
    .skills__header {
      /* стили для md-устройств */
      font-size: 28px; } }

@media (max-width: 767px) {
  .skills__margin-top {
    /* стили для xs-устройств */
    margin-top: 0; }
    .skills__margin-top:first-child {
      margin-top: 20px; } }

@media (min-width: 768px) {
  .skills__margin-top {
    /* стили для sm-устройств */
    margin-top: 30px; }
    .skills__margin-top:first-child {
      margin-top: 40px; } }

@media (min-width: 992px) {
  .skills__margin-top {
    /* стили для md-устройств */
    margin-top: 30px; }
    .skills__margin-top:first-child {
      margin-top: 40px; } }

.skills__list {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0; }

.skills__list-item {
  display: inline-block;
  position: relative; }
  .skills__list-item:first-child {
    margin-left: 0; }
  @media (max-width: 767px) {
    .skills__list-item {
      /* стили для xs-устройств */
      margin-bottom: 30px; }
      .skills__list-item:nth-child(even) {
        margin-left: 30px; } }
  @media (min-width: 768px) {
    .skills__list-item {
      /* стили для sm-устройств */
      margin-left: 30px; } }
  @media (min-width: 992px) {
    .skills__list-item {
      /* стили для md-устройств */
      margin-left: 30px; } }

.skills__name {
  display: block;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 13px; }

#map {
  display: block;
  position: relative;
  min-height: 975px; }

.map__contacts_block {
  position: absolute;
  width: 100%;
  min-height: 825px;
  top: 0;
  left: 0; }

.map__contacts {
  position: absolute;
  display: block;
  text-align: center; }
  @media (max-width: 767px) {
    .map__contacts {
      /* стили для xs-устройств */
      background: white;
      top: 0;
      left: 0;
      width: auto;
      height: auto;
      padding-bottom: 30px; } }
  @media (min-width: 768px) {
    .map__contacts {
      /* стили для sm-устройств */
      background: rgba(255, 255, 255, 0.7);
      top: 50%;
      left: 50%;
      width: 350px;
      height: 393px;
      margin-left: -175px;
      margin-top: -196.5px; } }
  @media (min-width: 992px) {
    .map__contacts {
      /* стили для md-устройств */
      background: rgba(255, 255, 255, 0.7);
      top: 50%;
      left: 50%;
      width: 578px;
      height: 283px;
      margin-left: -289px;
      margin-top: -141.5px; } }

.map__contacts-title {
  margin-top: 29px;
  text-transform: uppercase; }
  @media (max-width: 767px) {
    .map__contacts-title {
      /* стили для xs-устройств */
      font-size: 35px;
      margin-bottom: 10px; } }
  @media (min-width: 768px) {
    .map__contacts-title {
      /* стили для sm-устройств */
      font-size: 30px;
      margin-bottom: 18px; } }
  @media (min-width: 992px) {
    .map__contacts-title {
      /* стили для md-устройств */
      font-size: 35px;
      margin-bottom: 18px; } }

.map__contacts-list {
  display: inline-block;
  list-style: none;
  margin-left: 0;
  padding-left: 0; }
  @media (max-width: 767px) {
    .map__contacts-list {
      /* стили для xs-устройств */
      margin-bottom: 0; }
      .map__contacts-list:first-child {
        float: none;
        width: 100%;
        padding-left: 10px; }
      .map__contacts-list:last-child {
        float: none;
        width: 100%;
        padding-left: 10px; } }
  @media (min-width: 768px) {
    .map__contacts-list {
      /* стили для sm-устройств */
      margin-bottom: 0; }
      .map__contacts-list:first-child {
        float: none;
        width: 100%;
        padding-left: 20px; }
      .map__contacts-list:last-child {
        float: none;
        width: 100%;
        padding-left: 20px; } }
  @media (min-width: 992px) {
    .map__contacts-list {
      /* стили для md-устройств */ }
      .map__contacts-list:first-child {
        float: left;
        width: 50%;
        padding-left: 20px; }
      .map__contacts-list:last-child {
        float: right;
        width: 50%; } }

.map__contacts-item {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 767px) {
    .map__contacts-item {
      /* стили для xs-устройств */ }
      .map__contacts-item:first-child {
        margin: 10px 0 10px 0; } }
  @media (min-width: 768px) {
    .map__contacts-item {
      /* стили для sm-устройств */ }
      .map__contacts-item:first-child {
        margin: 20px 0 20px 0; } }
  @media (min-width: 992px) {
    .map__contacts-item {
      /* стили для md-устройств */ }
      .map__contacts-item:first-child {
        margin: 30px 0 30px 0; } }

.map__contacts-img {
  display: inline-block; }
  @media (max-width: 767px) {
    .map__contacts-img {
      /* стили для xs-устройств */
      width: 35px;
      height: 35px; } }
  @media (min-width: 768px) {
    .map__contacts-img {
      /* стили для sm-устройств */
      width: 45px;
      height: 45px; } }
  @media (min-width: 992px) {
    .map__contacts-img {
      /* стили для md-устройств */
      width: 45px;
      height: 45px; } }

.map__contacts-text {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  width: 50%; }

.footer {
  color: #fff; }

@media (max-width: 767px) {
  .footer-padding {
    /* стили для xs-устройств */
    padding: 0; } }

@media (min-width: 768px) {
  .footer-padding {
    /* стили для sm-устройств */
    padding: 20px 20px 0 20px; } }

@media (min-width: 992px) {
  .footer-padding {
    /* стили для md-устройств */
    padding: 0px 30px 0 30px; } }

.footer__block-top {
  min-height: 145px;
  background: rgba(60, 62, 71, 0.85); }
  @media (max-width: 767px) {
    .footer__block-top {
      /* стили для xs-устройств */
      font-size: 14px; } }
  @media (min-width: 768px) {
    .footer__block-top {
      /* стили для sm-устройств */
      padding-top: 0px;
      font-size: 14px; } }
  @media (min-width: 992px) {
    .footer__block-top {
      /* стили для md-устройств */
      padding-top: 20px;
      font-size: 16px; } }

@media (max-width: 767px) {
  .footer__left {
    /* стили для xs-устройств */
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    border-bottom: 1px solid #9e9fa3;
    padding-top: 10px;
    padding-bottom: 10px; } }

@media (min-width: 768px) {
  .footer__left {
    /* стили для sm-устройств */
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    border-bottom: 1px solid #9e9fa3;
    padding-bottom: 20px; } }

@media (min-width: 992px) {
  .footer__left {
    /* стили для md-устройств */
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    border-bottom: none;
    padding-bottom: 0; } }

@media (max-width: 767px) {
  .footer__center {
    /* стили для xs-устройств */
    text-align: center;
    border-bottom: 1px solid #9e9fa3;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px; } }

@media (min-width: 768px) {
  .footer__center {
    /* стили для sm-устройств */
    border-left: none;
    border-right: none;
    padding-bottom: 10px; } }

@media (min-width: 992px) {
  .footer__center {
    /* стили для md-устройств */
    border-left: 1px solid #9e9fa3;
    border-right: 1px solid #9e9fa3; } }

.footer__center-list {
  list-style: none;
  padding: 0;
  margin-bottom: 0; }

.footer__center-item {
  display: inline; }
  @media (max-width: 767px) {
    .footer__center-item {
      /* стили для xs-устройств */ } }
  @media (min-width: 768px) {
    .footer__center-item {
      /* стили для sm-устройств */
      margin-left: 25px; }
      .footer__center-item:first-child {
        margin-left: 0; } }
  @media (min-width: 992px) {
    .footer__center-item {
      /* стили для md-устройств */
      margin-left: 37px; }
      .footer__center-item:first-child {
        margin-left: 0; } }

.footer__center-link {
  color: #ffffff; }
  @media (max-width: 767px) {
    .footer__center-link {
      /* стили для xs-устройств */ } }
  @media (min-width: 768px) {
    .footer__center-link {
      /* стили для sm-устройств */
      font-size: 14px; } }
  @media (min-width: 992px) {
    .footer__center-link {
      /* стили для md-устройств */
      font-size: 16px; } }

.footer .social {
  font-size: 30px; }
  @media (max-width: 767px) {
    .footer .social {
      /* стили для xs-устройств */ } }
  @media (min-width: 768px) {
    .footer .social {
      /* стили для sm-устройств */
      margin-top: 10px; } }
  @media (min-width: 992px) {
    .footer .social {
      /* стили для md-устройств */
      margin-top: 35px; } }

.footer .social__link {
  color: #bfbfbf;
  text-decoration: none; }
  @media (max-width: 767px) {
    .footer .social__link {
      /* стили для xs-устройств */ }
      .footer .social__link:hover {
        text-decoration: none;
        color: #ffffff; } }
  @media (min-width: 768px) {
    .footer .social__link {
      /* стили для sm-устройств */ }
      .footer .social__link:hover {
        text-decoration: none;
        color: #004cd1; } }
  @media (min-width: 992px) {
    .footer .social__link {
      /* стили для md-устройств */ }
      .footer .social__link:hover {
        text-decoration: none;
        color: #004cd1; } }

@media (max-width: 767px) {
  .footer__right {
    /* стили для xs-устройств */
    padding: 10px 0 10px 0; } }

@media (min-width: 768px) {
  .footer__right {
    /* стили для sm-устройств */
    padding-bottom: 20px; } }

@media (min-width: 992px) {
  .footer__right {
    /* стили для md-устройств */ } }

.footer__right-list {
  list-style: none; }
  @media (max-width: 767px) {
    .footer__right-list {
      /* стили для xs-устройств */
      text-align: center; } }
  @media (min-width: 768px) {
    .footer__right-list {
      /* стили для sm-устройств */
      text-align: right; } }
  @media (min-width: 992px) {
    .footer__right-list {
      /* стили для md-устройств */
      text-align: left; } }

.footer__block-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 40px;
  background: rgba(43, 87, 164, 0.85); }

.footer__block-bottom-text {
  margin: auto; }

.fullscreen {
  background: #183669;
  opacity: 0.8;
  min-height: 900px;
  height: 100vh;
  background-size: cover; }

.fullscreen-list {
  list-style: none; }
  @media (max-width: 767px) {
    .fullscreen-list {
      /* стили для xs-устройств */
      padding-top: 150px; } }
  @media (min-width: 768px) {
    .fullscreen-list {
      /* стили для sm-устройств */
      padding-top: 260px; } }
  @media (min-width: 992px) {
    .fullscreen-list {
      /* стили для md-устройств */
      padding-top: 260px; } }

.fullscreen-item {
  text-align: center; }
  .fullscreen-item:hover .fullscreen-line {
    visibility: visible; }

.fullscreen-link {
  display: block;
  color: #ffffff; }
  .fullscreen-link:hover {
    text-decoration: none;
    color: #ffffff; }

.fullscreen-link h1 {
  font-size: 63px;
  text-transform: uppercase; }
  @media (max-width: 767px) {
    .fullscreen-link h1 {
      /* стили для xs-устройств */
      font-size: 35px;
      margin-bottom: 20px; } }
  @media (min-width: 768px) {
    .fullscreen-link h1 {
      /* стили для sm-устройств */
      font-size: 63px;
      margin-bottom: 30px; } }
  @media (min-width: 992px) {
    .fullscreen-link h1 {
      /* стили для md-устройств */
      font-size: 63px;
      margin-bottom: 30px; } }

.fullscreen-line {
  display: inline-block;
  visibility: hidden;
  background: url("../../../assets/img/fullscreen/fullscreen_line.png");
  height: 3px;
  margin-bottom: 55px; }
  @media (max-width: 767px) {
    .fullscreen-line {
      /* стили для xs-устройств */
      background-size: 60px 3px;
      width: 60px; } }
  @media (min-width: 768px) {
    .fullscreen-line {
      /* стили для sm-устройств */
      background-size: 89px 3px;
      width: 89px; } }
  @media (min-width: 992px) {
    .fullscreen-line {
      /* стили для md-устройств */
      background-size: 89px 3px;
      width: 89px; } }

.fullscreen-cross {
  position: absolute;
  display: block;
  top: 0;
  right: 0; }
  @media (max-width: 767px) {
    .fullscreen-cross {
      /* стили для xs-устройств */
      width: 29px;
      height: 29px;
      background-size: 29px 29px;
      margin-right: 11px;
      margin-top: 9px; } }
  @media (min-width: 768px) {
    .fullscreen-cross {
      /* стили для sm-устройств */
      width: 40px;
      height: 40px;
      background-size: 40px 40px;
      margin-right: 28px;
      margin-top: 24px; } }
  @media (min-width: 992px) {
    .fullscreen-cross {
      /* стили для md-устройств */
      width: 40px;
      height: 40px;
      background-size: 40px 40px;
      margin-right: 28px;
      margin-top: 24px; } }

/* --------------- blog ----------------*/
.blog__sidebar {
  background: #fbf8f1;
  padding-top: 100px; }
  @media (max-width: 767px) {
    .blog__sidebar {
      /* стили для xs-устройств */
      display: block;
      visibility: hidden; } }
  @media (min-width: 768px) {
    .blog__sidebar {
      /* стили для sm-устройств */
      display: block; } }
  @media (min-width: 992px) {
    .blog__sidebar {
      /* стили для md-устройств */
      display: block; } }

.blog__sidebar-list {
  list-style: none; }

.blog__sidebar-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 40px;
  border-right: 3px solid transparent;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
  padding: 15px 20px 10px 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .blog__sidebar-item:hover {
    border-right: 3px solid #004dd1; }

.blog__sidebar-link {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
  color: #556155; }
  .blog__sidebar-link:hover {
    text-decoration: none;
    color: #0b3da0; }

.blog__content {
  background: #fbf8f1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media (max-width: 767px) {
    .blog__content {
      /* стили для xs-устройств */
      padding-left: 10px;
      padding-right: 10px; } }
  @media (min-width: 768px) {
    .blog__content {
      /* стили для sm-устройств */
      padding-left: 20px;
      padding-top: 0px; } }
  @media (min-width: 992px) {
    .blog__content {
      /* стили для md-устройств */
      padding-left: 100px;
      padding-top: 100px;
      padding-right: 110px; } }

.blog__article-h1 {
  margin-top: 0;
  color: #455a64; }
  @media (max-width: 767px) {
    .blog__article-h1 {
      /* стили для xs-устройств */
      font-size: 21px;
      margin-bottom: 20px; } }
  @media (min-width: 768px) {
    .blog__article-h1 {
      /* стили для sm-устройств */
      font-size: 35px;
      margin-bottom: 30px; } }
  @media (min-width: 992px) {
    .blog__article-h1 {
      /* стили для md-устройств */
      font-size: 35px;
      margin-bottom: 30px; } }

.blog__article-h2 {
  color: #5074b1; }
  @media (max-width: 767px) {
    .blog__article-h2 {
      /* стили для xs-устройств */
      font-size: 14px;
      margin-bottom: 20px; } }
  @media (min-width: 768px) {
    .blog__article-h2 {
      /* стили для sm-устройств */
      font-size: 16px;
      margin-bottom: 30px; } }
  @media (min-width: 992px) {
    .blog__article-h2 {
      /* стили для md-устройств */
      font-size: 16px;
      margin-bottom: 30px; } }

.blog__content-text {
  width: auto; }
  .blog__content-text:last-child {
    border: none;
    margin-bottom: 0px; }
  @media (max-width: 767px) {
    .blog__content-text {
      /* стили для xs-устройств */
      border-bottom: 4px solid #ecece4;
      margin-bottom: 30px;
      padding-bottom: 30px; } }
  @media (min-width: 768px) {
    .blog__content-text {
      /* стили для sm-устройств */
      border-bottom: 5px solid #ecece4;
      margin-bottom: 70px;
      padding-bottom: 70px; } }
  @media (min-width: 992px) {
    .blog__content-text {
      /* стили для md-устройств */
      border-bottom: 5px solid #ecece4;
      margin-bottom: 70px;
      padding-bottom: 70px; } }

/* --------------- works ----------------*/
.works__header {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff; }
  @media (max-width: 767px) {
    .works__header {
      /* стили для xs-устройств */
      font-size: 35px;
      margin-top: -72px; } }
  @media (min-width: 768px) {
    .works__header {
      /* стили для sm-устройств */
      font-size: 63px;
      margin-top: -137px; } }
  @media (min-width: 992px) {
    .works__header {
      /* стили для md-устройств */
      font-size: 63px;
      margin-top: -137px; } }

.works__header-img {
  position: absolute;
  top: 50%;
  left: 50%; }
  @media (max-width: 767px) {
    .works__header-img {
      /* стили для xs-устройств */
      width: 137px;
      height: 88px;
      margin-left: -68.5px;
      margin-top: -39px; } }
  @media (min-width: 768px) {
    .works__header-img {
      /* стили для sm-устройств */
      width: 265px;
      height: 170px;
      margin-left: -132.5px;
      margin-top: -72px; } }
  @media (min-width: 992px) {
    .works__header-img {
      /* стили для md-устройств */
      width: 265px;
      height: 170px;
      margin-left: -132.5px;
      margin-top: -72px; } }

.works__slider {
  position: relative; }

@media (max-width: 767px) {
  .works__slider-img {
    /* стили для xs-устройств */
    width: 247px;
    height: 315px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto; } }

@media (min-width: 768px) {
  .works__slider-img {
    /* стили для sm-устройств */
    width: 510px;
    height: 651px;
    margin-top: 100px;
    margin-left: 90px; } }

@media (min-width: 992px) {
  .works__slider-img {
    /* стили для md-устройств */
    width: 510px;
    height: 651px;
    margin-top: 100px;
    margin-left: 90px; } }

@media (max-width: 767px) {
  .works__slider-right {
    /* стили для xs-устройств */
    text-align: center;
    width: 190;
    margin-left: auto;
    margin-right: auto; } }

@media (min-width: 768px) {
  .works__slider-right {
    /* стили для sm-устройств */
    margin-top: 100px;
    text-align: center; } }

@media (min-width: 992px) {
  .works__slider-right {
    /* стили для md-устройств */
    margin-top: 256px;
    margin-left: 100px;
    text-align: left; } }

.works__slider-title {
  text-transform: uppercase; }
  @media (max-width: 767px) {
    .works__slider-title {
      /* стили для xs-устройств */
      font-size: 20px;
      margin-bottom: 15px;
      margin-top: 35px; } }
  @media (min-width: 768px) {
    .works__slider-title {
      /* стили для sm-устройств */
      font-size: 35px;
      margin-bottom: 15px; } }
  @media (min-width: 992px) {
    .works__slider-title {
      /* стили для md-устройств */
      font-size: 35px;
      margin-bottom: 15px; } }

.works__slider-text {
  text-transform: uppercase;
  margin-top: 15px;
  color: #083c96; }
  @media (max-width: 767px) {
    .works__slider-text {
      /* стили для xs-устройств */
      margin-bottom: 15px;
      font-size: 14px; } }
  @media (min-width: 768px) {
    .works__slider-text {
      /* стили для sm-устройств */
      margin-bottom: 60px;
      font-size: 16px; } }
  @media (min-width: 992px) {
    .works__slider-text {
      /* стили для md-устройств */
      margin-bottom: 60px;
      font-size: 16px; } }

.works__slider-right .btn {
  background: #004cd1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  border-radius: 0; }
  @media (max-width: 767px) {
    .works__slider-right .btn {
      /* стили для xs-устройств */
      height: 40px;
      width: 185px; } }
  @media (min-width: 768px) {
    .works__slider-right .btn {
      /* стили для sm-устройств */
      margin-left: auto;
      margin-right: auto;
      height: 45px;
      width: 200px; } }
  @media (min-width: 992px) {
    .works__slider-right .btn {
      /* стили для md-устройств */
      margin-left: 0;
      margin-right: 0;
      height: 45px;
      width: 200px; } }

.works__slider-buttonImg {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: auto;
  margin-bottom: auto; }

.works__slider-buttonText {
  display: inline-block;
  margin-left: 12px;
  margin-right: 18px;
  color: #ffffff; }
  @media (max-width: 767px) {
    .works__slider-buttonText {
      /* стили для xs-устройств */
      font-size: 14px; } }
  @media (min-width: 768px) {
    .works__slider-buttonText {
      /* стили для sm-устройств */
      font-size: 16px; } }
  @media (min-width: 992px) {
    .works__slider-buttonText {
      /* стили для md-устройств */
      font-size: 16px; } }

.works__aboutMy {
  position: relative;
  background: url("../../../assets/img/section_works/works_about_my_bg.jpg") center no-repeat;
  height: 1350px;
  margin-bottom: -185px;
  padding: 0 20px 0 20px; }
  @media (max-width: 767px) {
    .works__aboutMy {
      /* стили для xs-устройств */
      height: 1350px;
      margin-bottom: -185px;
      padding: 0; } }
  @media (min-width: 768px) {
    .works__aboutMy {
      /* стили для sm-устройств */
      height: 1350px;
      margin-bottom: -185px;
      padding: 0 20px 0 20px; } }
  @media (min-width: 992px) {
    .works__aboutMy {
      /* стили для md-устройств */
      height: 1350px;
      margin-bottom: -185px;
      padding: 0 20px 0 20px; } }

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
  bottom: 30px;
  margin-bottom: 0; }

.bx-wrapper {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  background: #e3e2de;
  position: relative;
  margin-bottom: 0;
  padding: 0; }

.bx-wrapper .bx-prev {
  background: url("../../../assets/img/section_works/works_slider/portf_arrow_down.png") no-repeat; }

.bx-wrapper .bx-next {
  background: url("../../../assets/img/section_works/works_slider/portf_arrow_up.png") no-repeat; }

.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus {
  background-position: 0 0; }

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #ffffff;
  border: 2px solid #004cd1; }

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #004cd1; }

.works__aboutMy__header {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 767px) {
    .works__aboutMy__header {
      /* стили для xs-устройств */
      width: 300px;
      font-size: 35px;
      padding-top: 34px;
      margin-bottom: 40px; } }
  @media (min-width: 768px) {
    .works__aboutMy__header {
      /* стили для sm-устройств */
      width: 570px;
      font-size: 63px;
      padding-top: 70px; } }
  @media (min-width: 992px) {
    .works__aboutMy__header {
      /* стили для md-устройств */
      width: 570px;
      font-size: 63px;
      padding-top: 70px; } }

.works__aboutMy-img {
  position: absolute;
  top: 50%;
  left: 50%; }
  @media (max-width: 767px) {
    .works__aboutMy-img {
      /* стили для xs-устройств */
      width: 88px;
      height: 100px;
      margin-left: -44px;
      margin-top: -40px; } }
  @media (min-width: 768px) {
    .works__aboutMy-img {
      /* стили для sm-устройств */
      width: 170px;
      margin-left: -85px;
      margin-top: -60px; } }
  @media (min-width: 992px) {
    .works__aboutMy-img {
      /* стили для md-устройств */
      width: 170px;
      margin-left: -85px;
      margin-top: -60px; } }

@media (max-width: 767px) {
  .works__aboutMy-reviews {
    /* стили для xs-устройств */
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px; } }

@media (min-width: 768px) {
  .works__aboutMy-reviews {
    /* стили для sm-устройств */
    margin-top: 50px; } }

@media (min-width: 992px) {
  .works__aboutMy-reviews {
    /* стили для md-устройств */
    margin-top: 50px; } }

@media (max-width: 767px) {
  .reviews__margin-left {
    /* стили для xs-устройств */
    margin-left: 0px;
    margin-top: 35px; } }

@media (min-width: 768px) {
  .reviews__margin-left {
    /* стили для sm-устройств */
    margin-left: 10px; } }

@media (min-width: 992px) {
  .reviews__margin-left {
    /* стили для md-устройств */
    margin-left: 10px; } }

.aboutMy-reviews-photo {
  border-radius: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 767px) {
    .aboutMy-reviews-photo {
      /* стили для xs-устройств */
      width: 55px; } }
  @media (min-width: 768px) {
    .aboutMy-reviews-photo {
      /* стили для sm-устройств */
      width: 80px; } }
  @media (min-width: 992px) {
    .aboutMy-reviews-photo {
      /* стили для md-устройств */
      width: 80px; } }

.aboutMy-reviews-text {
  position: relative;
  color: #ffffff;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  line-height: 2; }
  @media (max-width: 767px) {
    .aboutMy-reviews-text {
      /* стили для xs-устройств */
      margin-top: 20px;
      width: auto; } }
  @media (min-width: 768px) {
    .aboutMy-reviews-text {
      /* стили для sm-устройств */
      margin-top: 20px;
      margin-bottom: 30px;
      width: 380px; } }
  @media (min-width: 992px) {
    .aboutMy-reviews-text {
      /* стили для md-устройств */
      margin-top: 20px;
      margin-bottom: 30px;
      width: 380px; } }

.aboutMy-reviews-quotes {
  position: absolute;
  top: -50%;
  left: 0;
  width: 80px;
  height: 64px; }

.aboutMy-reviews-signature {
  color: #ffffff;
  text-align: center;
  line-height: 2; }

.form-group {
  padding: 0;
  margin: 0; }

.aboutMy__form {
  margin-left: auto;
  margin-right: auto;
  background: rgba(31, 31, 36, 0.6); }
  @media (max-width: 767px) {
    .aboutMy__form {
      /* стили для xs-устройств */
      width: 300px;
      margin-top: 30px; } }
  @media (min-width: 768px) {
    .aboutMy__form {
      /* стили для sm-устройств */
      width: 380px;
      margin-top: 60px; } }
  @media (min-width: 992px) {
    .aboutMy__form {
      /* стили для md-устройств */ } }

.aboutMy__form-title {
  text-align: center;
  color: #ffffff;
  padding-top: 30px; }

.aboutMy__form .title-line {
  background: #ffffff; }

.aboutMy__form .form-control {
  background: rgba(126, 123, 127, 0.1);
  margin-left: auto;
  margin-right: auto;
  border-radius: 0;
  border: none;
  margin-top: 20px; }
  @media (max-width: 767px) {
    .aboutMy__form .form-control {
      /* стили для xs-устройств */
      max-width: 260px; } }
  @media (min-width: 768px) {
    .aboutMy__form .form-control {
      /* стили для sm-устройств */
      max-width: 340px; } }
  @media (min-width: 992px) {
    .aboutMy__form .form-control {
      /* стили для md-устройств */
      max-width: 340px; } }

.aboutMy__form-input_height {
  height: 50px; }

.aboutMy__form-buttons {
  margin-top: 20px; }

.aboutMy__form .btn {
  background: rgba(31, 31, 36, 0);
  border: none;
  height: 50px;
  border-radius: 0;
  width: 100%; }
  .aboutMy__form .btn:hover {
    background: #004cd1;
    color: #ffffff; }

.aboutMy__form .btn-default {
  color: #98999b; }

.works__aboutMy-arrow {
  position: relative; }

.works__aboutMy-arrow-img {
  position: absolute;
  background: url("../../../assets/img/section_works/works_arrow_up.svg") no-repeat;
  width: 30px;
  height: 16px;
  left: 50%;
  margin-left: -15px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-top: 40px; }

/* --------------- welcome ----------------*/
.welcome__bg {
  position: relative;
  background: url("../../../assets/img/header/header_bg.jpg") center no-repeat;
  min-height: 650px;
  width: 100%;
  height: 100vh;
  background-size: cover;
  margin-bottom: -1px; }
  @media (max-width: 767px) {
    .welcome__bg {
      /* стили для xs-устройств */
      padding-top: 80px; } }
  @media (min-width: 768px) {
    .welcome__bg {
      /* стили для sm-устройств */
      padding-top: 220px; } }
  @media (min-width: 992px) {
    .welcome__bg {
      /* стили для md-устройств */
      padding-top: 220px; } }

.welcome__button_authorization {
  position: absolute;
  background: transparent;
  border-radius: 0;
  color: #ffffff;
  top: 0;
  right: 0; }
  @media (max-width: 767px) {
    .welcome__button_authorization {
      /* стили для xs-устройств */
      width: 150px;
      height: 40px;
      top: 0;
      right: 50%;
      margin-right: -75px;
      margin-top: 10px; } }
  @media (min-width: 768px) {
    .welcome__button_authorization {
      /* стили для sm-устройств */
      width: 180px;
      height: 45px;
      margin-right: 28px;
      margin-top: 24px;
      top: 0;
      right: 0; } }
  @media (min-width: 992px) {
    .welcome__button_authorization {
      /* стили для md-устройств */
      width: 180px;
      height: 45px;
      margin-right: 28px;
      margin-top: 24px;
      top: 0;
      right: 0; } }

.welcome__form {
  background: rgba(31, 31, 36, 0.6);
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 767px) {
    .welcome__form {
      /* стили для xs-устройств */
      width: 300px; } }
  @media (min-width: 768px) {
    .welcome__form {
      /* стили для sm-устройств */
      width: 380px; } }
  @media (min-width: 992px) {
    .welcome__form {
      /* стили для md-устройств */
      width: 380px; } }

.welcome__form-photo {
  display: block;
  border-radius: 50%;
  width: 142px;
  z-index: 1;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto; }

.welcome__desc {
  display: block;
  color: #ffffff;
  text-align: center;
  margin-top: 20px; }

.welcome__desc_name {
  font-size: 28px;
  margin-top: 15px; }

.welcome__desc_info {
  font-size: 16px; }

.welcome__form .social {
  font-size: 25px;
  text-align: center;
  margin-top: 40px; }

.welcome__form .social__link {
  color: #0447bc;
  text-decoration: none; }
  .welcome__form .social__link:hover {
    text-decoration: none;
    color: #083c96; }

.welcome__form-buttons {
  margin-top: 40px; }

.welcome__form .btn {
  background: #0447bc;
  border-right: 2px solid #7296d2;
  border-left: none;
  border-bottom: none;
  border-top: none;
  height: 50px;
  border-radius: 0;
  width: 100%; }
  .welcome__form .btn:hover {
    background: #083c96;
    color: #ffffff; }

.welcome__form .btn-default {
  color: #ffffff; }

.copyright__text {
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: #c6cedb; }
  @media (max-width: 767px) {
    .copyright__text {
      /* стили для xs-устройств */
      width: 260px; } }
  @media (min-width: 768px) {
    .copyright__text {
      /* стили для sm-устройств */
      width: 380px; } }
  @media (min-width: 992px) {
    .copyright__text {
      /* стили для md-устройств */
      width: 380px; } }

/* --------------- login ----------------*/
.login__bg {
  position: relative;
  background: url("../../../assets/img/header/header_bg.jpg") no-repeat;
  min-height: 650px;
  width: 100%;
  height: 100vh;
  background-size: cover;
  margin-bottom: -1px; }
  @media (max-width: 767px) {
    .login__bg {
      /* стили для xs-устройств */
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 80px; } }
  @media (min-width: 768px) {
    .login__bg {
      /* стили для sm-устройств */
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 140px; } }
  @media (min-width: 992px) {
    .login__bg {
      /* стили для md-устройств */
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 140px; } }

.login__form {
  background: rgba(31, 31, 36, 0.6);
  margin-right: auto;
  margin-left: auto; }
  @media (max-width: 767px) {
    .login__form {
      /* стили для xs-устройств */
      width: 300px; } }
  @media (min-width: 768px) {
    .login__form {
      /* стили для sm-устройств */
      width: 380px; } }
  @media (min-width: 992px) {
    .login__form {
      /* стили для md-устройств */
      width: 380px; } }

.login__desc {
  display: block;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px; }

.login__desc_title {
  font-size: 28px;
  margin-top: 15px;
  text-transform: uppercase; }

.login__form .form-control {
  display: inline-block;
  background: #ffffff;
  float: right;
  border-radius: 0;
  border: none;
  height: 45px; }
  @media (max-width: 767px) {
    .login__form .form-control {
      /* стили для xs-устройств */
      max-width: 216px;
      margin-right: 15px; } }
  @media (min-width: 768px) {
    .login__form .form-control {
      /* стили для sm-устройств */
      max-width: 295px;
      margin-right: 16px; } }
  @media (min-width: 992px) {
    .login__form .form-control {
      /* стили для md-устройств */
      max-width: 295px;
      margin-right: 16px; } }

.login__form-blockInput {
  display: inline-block;
  position: relative;
  background: #f0efe9;
  width: 45px;
  height: 45px;
  margin-left: 24px; }
  .login__form-blockInput:first-child {
    margin-bottom: 20px; }

.blockInput__img {
  position: absolute;
  top: 50%;
  left: 50%;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: -8px;
  margin-top: -8px; }

.login__form .checkbox {
  text-align: center;
  color: #d2d5db;
  font-size: 16px; }

.checkbox__label {
  line-height: 2;
  margin-left: 10px; }

.checkbox__input {
  width: 20px;
  height: 20px;
  background: #0548be;
  color: #ffffff; }

.login__form .radio {
  display: inline-block; }

.radiobutton__block {
  text-align: center; }

.text__robot {
  color: #d2d5db; }

.radio__label {
  color: #d2d5db; }

.login__form-buttons {
  margin-top: 40px; }

.login__form .btn {
  background: #0447bc;
  border-right: 2px solid #7296d2;
  border-left: none;
  border-bottom: none;
  border-top: none;
  height: 50px;
  border-radius: 0;
  width: 100%; }
  .login__form .btn:hover {
    background: #083c96;
    color: #ffffff; }

.login__form .btn-default {
  color: #ffffff; }
