head
  include ../_components/head
  title Авторизация
doctype html
html(lang='ru')
  body
    wrapper
      .container
        .welcome
        .row
          .col-md-12
            .welcome__bg
              button.btn.btn-default.welcome__button_authorization(type='submit') Авторизоваться
              .col-md-4.col-md-offset-4
                form(role='form').welcome__form
                  .row
                    .col-md-12
                      .welcome__form-content
                        .row
                          .col-md-4.col-md-offset-4.col-sm-4.col-sm-offset-4
                            img.welcome__form-photo.img-responsive(alt="photo", src='../../../assets/img/header/header_photo.jpg' )
                        .row
                          .col-md-8.col-md-offset-2
                            .welcome__desc
                              .welcome__desc_name Владимир Астахов
                              .welcome__desc_info Личный сайт веб-разработчика
                        .row
                          .col-md-12
                            include ../_components/social
                        .row
                          .welcome__form-buttons
                            .col-md-5.col-sm-5
                              button.btn.btn-default(type='submit') Мои работы
                            .col-md-4.col-sm-4
                              button.btn.btn-default(type='submit') Обо мне
                            .col-md-3.col-sm-3
                              button.btn.btn-default(type='submit') Блог
              .row
                .col-md-12
                  .welcome-text &copy; Владимир Астахов | создано в Loftschool | 2017












