
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content="IE=edge,chrome=1")
  meta(name='viewport' content='width=device-width')
  //link(href="/dist/css/main.css" rel="stylesheet")
  link(href="../../../css/pages/about/about.css" rel="stylesheet")
  link(href="../../../assets/lib/bootstrap/css/bootstrap.css" rel="stylesheet")
  //link(href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet")
  title Обо мне
doctype html
html(lang='ru')
  body
    wrapper
      container
        .container
          .row
            .col-md-12
              header.header
                img.img-responsive(alt ='background' src='../../../assets/img/header/header_bg.jpg')
                .header__profile
                  //.header_stars ghgjghjghjhgjghjghjghj ghgjghjghjhgjghjghjghjghgjghjghjhgjghjghjghjghgjghjghjhgjghjghjghjghgjghjghjhgjghjghjghj
                  //img.header_stars.img-responsive(alt="stars", src='../../../assets/img/header/header_stars.png', width='500', height='300' )
                  //.header__photo
                  img.header__photo.img-responsive(alt="photo", src='../../../assets/img/header/header_photo.jpg' )
                  .header__desc
                    .header__name Владимир Астахов
                    .header__info Личный сайт веб-разработчика
                  //.header__stars
                  img.header__stars.img-responsive(alt="stars", src='../../../assets/img/header/header_stars.png' )
                .header__hamburger
              //.section gfgggggggggggggggggggggggggg gggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg ggggggggggggggggggggggggggggggg

