
head
  include ../_components/head
  title Обо мне
doctype html
html(lang='ru')
  body
    wrapper
      .about
        include ../_components/header
        a(href="#down").header__arrow
        include ../_components/triangle
        main.main
          .container
            .row#down.equal
              .col-md-6.col-sm-12.col-xs-12.flex-item-left
                .about__left
                  h1.about__left-header Обо мне
                    img.about__left-img.hidden-xs.img-responsive(alt="stars2", src='../../../assets/img/section_about/about_stars.png' )
                  .about__left-photo
                    img.img-responsive(alt='photo' src='../../../assets/img/section_about/about_photo.jpg')
                  .about__left-desc
                    h2.about__font-header Кто я
                    .title-line
                    .about__left-desc-text Lorem ipsum orci malesuada cursus quisque ligula maecenas vivamus sodales. Vitae lorem ligula sagittis, integer eget tellus bibendum porttitor massa odio nam sed: nibh elementum. Proin, maecenas sed magna vivamus adipiscing sem: sagittis fusce maecenas ligula, leo sit ultricies gravida proin adipiscing ultricies elementum et integer quisque, sem porta.
              .col-md-6.col-sm-12.col-xs-12.flex-item-right
                .about__right
                  .about__right-header
                    h2.about__font-header Чем я могу быть вам полезен
                    .title-line
                  .about__right-desc-text Lorem ipsum orci malesuada cursus quisque ligula maecenas vivamus sodales. Vitae lorem ligula sagittis, integer eget tellus bibendum porttitor massa odio nam sed: nibh elementum. Proin, maecenas sed magna vivamus adipiscing sem: sagittis fusce maecenas ligula, leo sit ultricies gravida proin adipiscing ultricies elementum et integer quisque, sem porta.
                  .about__right-skills
                    .about__right-skills_frontend.skills__margin-top
                      .skills__header Frontend
                      ul.skills__list
                        li.skills__list-item
                          include ../_components/skills
                          span.skills__name HTML5
                        li.skills__list-item
                          include ../_components/skills
                          span.skills__name HTML5
                        li.skills__list-item
                          include ../_components/skills
                          span.skills__name HTML5
                    .about__right-skills_backend.skills__margin-top
                      .skills__header Backend
                      ul.skills__list
                        li.skills__list-item
                          include ../_components/skills
                          span.skills__name HTML5
                        li.skills__list-item
                          include ../_components/skills
                          span.skills__name HTML5
                        li.skills__list-item
                          include ../_components/skills
                          span.skills__name HTML5
                        li.skills__list-item
                          include ../_components/skills
                          span.skills__name HTML5
                    .about__right-skills_workflow.skills__margin-top
                      .skills__header Workflow
                      ul.skills__list
                        li.skills__list-item
                          include ../_components/skills
                          span.skills__name HTML5
                        li.skills__list-item
                          include ../_components/skills
                          span.skills__name HTML5
                        li.skills__list-item
                          include ../_components/skills
                          span.skills__name HTML5
            .row
                .col-md-12
                  #map
                  .map__contacts_block
                    .map__contacts
                      h1.map__contacts-title Контакты
                      .title-line
                      .about__header-line
                      .map__contacts-blok
                        ul.map__contacts-list
                          li.map__contacts-item
                            img.map__contacts-img(src='../../../assets/img/map/skype_n.svg' alt='')
                            .map__contacts-text skype
                          li.map__contacts-item
                            img.map__contacts-img(src='../../../assets/img/map/envelope_n.svg' alt='')
                            .map__contacts-text Mail@mail.ru
                        ul.map__contacts-list
                          li.map__contacts-item
                            img.map__contacts-img(src='../../../assets/img/map/phone_n.svg' alt='')
                            .map__contacts-text 8 888 888 88 88
                          li.map__contacts-item
                            img.map__contacts-img(src='../../../assets/img/map/map_n.svg' alt='')
                            .map__contacts-text Ростов-на-Дону, пр.Стачек, д.7



        include ../_components/footer

  script(type="text/javascript" src="../../../assets/lib/jquery/jquery-3.2.1.min.js")
  script(type="text/javascript" src="../../../js/about/about.js")
  script(src="../../../js/about/map.js")
  script(async defer src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyDkt2KHmSgb2aqFtHySvyCyfvD1Ew4ojNk&callback=initMap" type="text/javascript")




