head
  include ../_components/head
  title Авторизация
doctype html
html(lang='ru')
  body
    wrapper
      .container
        .welcome
        .row
          .col-md-12
            .login__bg
              .col-md-4.col-md-offset-4.col-xs-12
                form(role='form').login__form
                  .row
                    .col-md-12.col-sm-12.col-xs-12
                      .login__form-content
                        .row
                          .col-md-8.col-md-offset-2
                            .login__desc
                              h1.login__desc_title Авторизуйтесь
                        .row
                          .col-md-12
                            .login__form-blockInput
                              img.blockInput__img(src='../../../assets/img/section_login/login_login.png' alt='')
                            input#InputLogin.form-control(type='text', placeholder='Логин')
                            .login__form-blockInput
                              img.blockInput__img(src='../../../assets/img/section_login/login_password.png' alt='')
                            input#InputPassword.form-control(type='password', placeholder='Пароль')
                        .row
                          .col-md-12
                            .checkbox
                              label.checkbox__label
                                input.checkbox__input(type="checkbox")
                                |Я человек
                        .row
                          .radiobutton__block
                            .col-md-12
                              .text__robot Вы точно не робот?
                              .radio
                                label.radio__label
                                  input.radio__input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='')
                                  |Да
                              .radio
                                label.radio__label
                                  input.radio__input#optionsRadios2(type='radio', name='optionsRadios', value='option2')
                                  |Не уверен
                        .row
                          .login__form-buttons
                            .col-md-6.col-sm-6.col-xs-7
                              button.btn.btn-default(type='submit') На главную
                            .col-md-6.col-sm-6.col-xs-5
                              button.btn.btn-default(type='submit') Войти
              .row
                .col-md-12.col-sm-12.col-xs-12
                  .copyright__text &copy; Владимир Астахов | создано в Loftschool | 2017












