head
  include ../_components/head
  title Меню
doctype html
html(lang='ru')
  body
    wrapper
      .about
        container
        main
        .container
          .row
            .col-md-12
              .fullscreen
                ul.fullscreen-list
                  li.fullscreen-item
                    a(href="#").fullscreen-link Мои работы
                    .fullscreen-line
                  li.fullscreen-item
                    a(href="#").fullscreen-link Блог
                    .fullscreen-line
                  li.fullscreen-item
                    a(href="#").fullscreen-link Обо мне
                    .fullscreen-line
                  li.fullscreen-item
                    a(href="#").fullscreen-link Авторизация
                    .fullscreen-line
                .fullscreen-cross





