head
  include ../_components/head
  title Меню
doctype html
html(lang='ru')
  body
    wrapper
      .about
        container
        main
        .container
          .row
            .col-md-12
              .fullscreen
                .col-md-4.col-md-offset-4
                  ul.fullscreen-list
                    li.fullscreen-item
                      a(href="#").fullscreen-link
                        h1 Мои работы
                      .fullscreen-line
                    li.fullscreen-item
                      a(href="#").fullscreen-link
                        h1 Блог
                      .fullscreen-line
                    li.fullscreen-item
                      a(href="#").fullscreen-link
                        h1 Обо мне
                      .fullscreen-line
                    li.fullscreen-item
                      a(href="#").fullscreen-link
                        h1 Авторизация
                      .fullscreen-line
                .fullscreen-cross





