head
  link(href="../../../assets/lib/jquery.bxslider/jquery.bxslider.css" rel="stylesheet")
  include ../_components/head
  title Мои работы
doctype html
html(lang='ru')
  body
    wrapper
      .works
        container
        include ../_components/header
        a.header__arrow(href="#down")
        include ../_components/triangle
        main
          .container
            .row
              .col-md-12
                h1.works__header Мои работы
                  img#down.works__header-img.img-responsive(alt="stars", src='../../../assets/img/section_works/works_stars.png' )
            .row
              .col-md-12
                .works__slider
                  ul.works__slider-list
                    li.works__slider-item
                      .col-md-6.col-md-push-6.col-sm-12.col-xs-12
                        .works__slider-right
                          h3.works__slider-title Сайт школы онлайн образования
                          .title-line
                          .works__slider-text HTML, CSS, JavaScript
                          form(action="#")
                            button.btn.btn-default(type='submit')
                              .works__slider-buttonImg
                                img.img-responsive(alt="", src='../../../assets/img/section_works/works_slider/icon_button.png' )
                              .works__slider-buttonText Посмотреть сайт
                      .col-md-6.col-md-pull-6.col-sm-12.col-xs-12
                        .works__slider-left
                          .works__slider-img
                            img.img-responsive(alt="page", src='../../../assets/img/section_works/works_slider/slider_page.png' )
                    li.works__slider-item
                      .col-md-6.col-md-push-6.col-sm-12.col-xs-12
                        .works__slider-right
                          h3.works__slider-title Сайт школы онлайн образования
                          .title-line
                          .works__slider-text HTML, CSS, JavaScript
                          form(action="https://ya.ru")
                            button.btn.btn-default(type='submit')
                              .works__slider-buttonImg
                                img.img-responsive(alt="", src='../../../assets/img/section_works/works_slider/icon_button.png' )
                              .works__slider-buttonText Посмотреть сайт
                      .col-md-6.col-md-pull-6.col-sm-12.col-xs-12
                        .works__slider-left
                          .works__slider-img
                            img.img-responsive(alt="page", src='../../../assets/img/section_works/works_slider/slider_page.png' )
            .row
              .col-md-12.col-sm-12
                .works__aboutMy
                  h1.works__aboutMy__header Что обо мне говорят
                    img.works__aboutMy-img.img-responsive(alt="stars", src='../../../assets/img/section_works/works_stars_about_my.png' )
                  .row
                    .works__aboutMy-reviews
                      .col-md-4.col-md-offset-2.col-sm-6.col-xs-12
                        .works__aboutMy-review
                         img.aboutMy-reviews-photo.img-responsive(alt="photo", src='../../../assets/img/section_works/works_photo_about_my.png' )
                         .aboutMy-reviews-text Lorem ipsum orci malesuada cursus quisque ligula maecenas vivamus sodales. Vitae lorem ligula sagittis, integer eget tellus bibendum porttitor massa
                           img.aboutMy-reviews-quotes.img-responsive(alt="quotes", src='../../../assets/img/section_works/works_quotes_about_my.png' )
                         .aboutMy-reviews-signature
                           .aboutMy-reviews-signature_name Иван Иванов
                           .aboutMy-reviews-signature_profession - преподаватель
                      .col-md-4.col-sm-6.col-xs-12
                       .works__aboutMy-review.reviews__margin-left
                         img.aboutMy-reviews-photo.img-responsive(alt="photo", src='../../../assets/img/section_works/works_photo_about_my.png' )
                         .aboutMy-reviews-text Lorem ipsum orci malesuada cursus quisque ligula maecenas vivamus sodales. Vitae lorem ligula sagittis, integer eget tellus bibendum porttitor massa
                           img.aboutMy-reviews-quotes.img-responsive(alt="quotes", src='../../../assets/img/section_works/works_quotes_about_my.png' )
                         .aboutMy-reviews-signature
                           .aboutMy-reviews-signature_name Иван Иванов
                           .aboutMy-reviews-signature_profession - преподаватель
                  .row
                    .col-md-12
                      form(role='form').aboutMy__form
                        .row
                          .col-md-12
                            .aboutMy__form-title
                              h2.about__font-header Связаться со мной
                              .title-line
                        .row
                          .col-md-12
                            .form-group
                              input#exampleInputPassword1.form-control.aboutMy__form-input_height(type='text', placeholder='Ваше имя')
                              input#exampleInputEmail1.form-control.aboutMy__form-input_height(type='email', placeholder='Ваш email')
                              textarea.form-control.aboutMy__form-textarea_height(rows="6" placeholder='Ваше сообщение')
                        .row
                          .aboutMy__form-buttons
                            .col-md-6.col-xs-6
                              button.btn.btn-default(type='submit') Отправить
                            .col-md-6.col-xs-6
                              button.btn.btn-default(type='submit') Очистить
                  .row
                    .col-md-12.col-sm-12.col-xs-12
                      a.works__aboutMy-arrow-img(href="#up")


      include ../_components/footer

    script(type="text/javascript" src="../../../assets/lib/jquery/jquery-3.2.1.min.js")
    script(type="text/javascript" src="../../../assets/lib/jquery.bxslider/jquery.bxslider.min.js")
    script(type="text/javascript" src="../../../js/works/works.js")
    script(type="text/javascript" src="../../../js/about/about.js")








